<div id="error-modal"></div>
        <div class="row">
        <div class="col-lg-1"></div>
        Por favor elija un oponente
        </div>
        <br/>
        <div class="row">
        	<div class="col-sm-1 col-md-1 col-lg-1"></div>
        	<div class="form-group input-group col-sm-8 col-md-6 col-lg-6">
        		ACa va loscontirncantes
			</div>
		</div>