<div class="col-sm-1 col-md-2 col-lg-2"></div>
<div class="col-sm-10 col-md-8 col-lg-8">
  <div class="jumbotron">
    <h2>Alertas</h2>
    <div id="error"></div>
    <div class="container2">
   		<div class="panel panel-info">
  			<div class="panel-body">
	    	
	    	<div class="list-group">
                  		<a onclick="navigateAlert()" href="#" class="list-group-item list-group-item-info">
      					<div class="row">
      					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      						<font color="orange">
                    			<i title="No Leido" class="fa fa-bell fa-lg pull-left"></i>
                    		</font>
                    	</div>
      					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    		<span class="label label-primary">Desafio</span> Jose lo ha Desafiado
                    	</div>
                    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    		dia
               	 		</div>
               	 		</div>
                    	</a>
                  		<a onclick="navigateAlert()" href="#" class="list-group-item">
               	 		<div class="row">
               	 		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
               	 		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    		<span class="label label-success">Gano</span> Su apuesta a 12 años de Esclavitud
                    	</div>
                    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    		dia2
               	 		</div>
                    	</div>
                  		</a>
                  		<a onclick="navigateAlert()" href="#" class="list-group-item">
               	 		<div class="row">
               	 		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
               	 		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			                <span class="label label-info">Desafio Ganado</span> Le ha ganado el dasfio a Pedro por 10 Cr.
                    	</div>
                    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    		dia2
               	 		</div>
                    	</div>
                  		</a>
                  		<a onclick="navigateAlert()" href="#" class="list-group-item">
               	 		<div class="row">
               	 		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
               	 		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            			    <span class="label label-warning">Donaciones</span> Se han acreditado 3 Cr.
                    	</div>
                    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    		dia2
               	 		</div>
                    	</div>
                  		</a>
                  		<a onclick="navigateAlert()" href="#" class="list-group-item">
               	 		<div class="row">
               	 		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
               	 		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    		<span class="label label-danger">ACNGames</span> Su cuenta ha sido activada.
                    	</div>
                    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    		dia2
               	 		</div>
                    	</div>
                  		</a>
              
               	
               	
	    	</div>
	    	<!-- CIERRO EL PANEL BODY-->
  			</div>
			
		</div>
        
  </div>
 </div>
</div>
              
      
      
      
      
        
 