<div class="col-sm-2 col-md-3 col-lg-3">
	<div class="jumbotron">
		<br />
		<ul class="nav nav-pills nav-stacked">
	  		<li class="active"><a href="#" onclick="viewInbox()">Apuestas Vigentes</a></li>
	 		<li><a href="#" onclick="viewSent()">Apuestas Finalizadas</a></li>
	 		<li><a href="#" onclick="viewSent()">Desafios Pendientes</a></li>
	 		<li><a href="#" onclick="viewSent()">Solicitud de Desafios</a></li>
	 	</ul>
	</div>
</div>
<div class="col-sm-8 col-md-6 col-lg-6">
  <div class="jumbotron">
    <h2>Apuestas Vigentes</h2><br/>
    <div id="error"></div>
    <div class="container2">
			<div class="panel-group" id="accordion">
			  <div class="panel panel-info">
			    <div class="panel-heading">
			      <div style="cursor:pointer" class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			        <div class="row">
                    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/17.png"/>
                    	River Plate vs  San Lorenzo
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/19.png"/>
                    	</div>
                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    		02-03-2014 18:15               		
                    	</div>
                    </div>
			        
			      </div>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse">
			      <div class="panel-body">
			        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="row"><strong>Categoria</strong></div>
						<div class="row"><strong>Subcategoria</strong></div>
			        	<div class="row"><strong>Elecci&oacute;:n</strong></div>
			        	<div class="row"><strong>Apuesta:</strong></div>
			        	<div class="row"><strong>Paga:</strong></div>
			        	<div class="row"><strong>Desafio:</strong></div>
			        	<div class="row"><strong>Fecha:</strong></div>
			        	
			        </div>
			        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="row">Futbol Argentino</div>
						<div class="row">Fecha 14</div>
			        	<div class="row">San Lorenzo</div>
			        	<div class="row">15 cr.</div>
			        	<div class="row">x 1.25</div>
			        	<div class="row">Jonatan Bahut</div>
			        	<div class="row">02-03-2014 14:15</div>
			        </div>
			        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			        	<div class="row"><br/></div>
			        </div>
			        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			        	<div class="row">
			        		<font style="cursor:pointer" color="red">
                    			<i onclick="alert('link')" title="Retirar Apuesta" class="fa fa-times fa-lg pull-right"></i>
                    		</font>                    			
                    		<font style="cursor:pointer" color="blue">
                    			<i onclick="alert('link')" title="Modificar Apuesta" class="fa fa-pencil fa-lg pull-right"></i>
                    		</font>
                    		
                    	</div>
			        </div>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-info">
			    <div class="panel-heading">
			    <div style="cursor:pointer" class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			         <div class="row">
                    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/7.png"/>
                    	Estudiantes  vs  Newell´s
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/13.png"/>
                    	</div>
                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    		02-03-2014 21:30               		
                    	</div>	
                    </div>
			      </div>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			        Anim pariatur
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-info">
			    <div class="panel-heading">
			      <div style="cursor:pointer" class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			        <div class="row">
                    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/20.png"/>
                    	Velez Sarfield  vs  Boca Juniors
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/5.png"/>
                    	</div>
                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    		01-03-2014 18:00 
                    	</div>	
                    </div>
			      </div>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			        Anim pariatur 
			      </div>
			    </div>
			  </div>
			</div>   			
			</div>
        
  </div>
</div>

              
      
      
      
      
        
 