<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="#"onclick="console.log(<%=this.id%>)">
                        <legend ><%=this.desc%></legend>
                        <img class="img-responsive img-home-portfolio" src="<%=this.img%>">
                    </a>
                </div>