
<% for (var i = 0; i < this.length; i++) { %>
            <%= $.View('views/category.ejs', this[i]) %>
    <% } %>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="#" onclick="getGames()">
                        <legend >Juegos Online</legend>
                        <img class="img-responsive img-home-portfolio" src="https://lh4.googleusercontent.com/-z_09WB18HSk/U1qhGNLXxPI/AAAAAAAAAB0/wCujwDvb6AA/w300-h158-no/juegos_online.jpg
">
                    </a>
                </div>