<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                    <a href="portfolio-item.html">
                        <legend >1era División Torneo Final 2014</legend>
                        <img class="img-responsive img-home-portfolio" src="img/arg.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="portfolio-item.html">
                        <legend >Premios Oscars 2014</legend>
                        <img class="img-responsive img-home-portfolio" src="img/oscar.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="portfolio-item.html">
                        <legend >Premier League</legend>
                        <img class="img-responsive img-home-portfolio" src="img/premier.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="portfolio-item.html">
                        <legend >Liga BBVA España</legend>
                        <img class="img-responsive img-home-portfolio" src="img/bbva.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="portfolio-item.html">
                        <legend >Champions League</legend>
                        <img class="img-responsive img-home-portfolio" src="img/champ.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="portfolio-item.html">
                        <legend >Copa Libertadores de America</legend>
                        <img class="img-responsive img-home-portfolio" src="img/lib.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="portfolio-item.html">
                        <legend >Mundial Brasil 2014</legend>
                        <img class="img-responsive img-home-portfolio" src="img/brasil.jpg">
                    </a>
                </div>