<div class="col-sm-6 col-md-3 col-lg-3"></div>
      <div class="col-sm-6 col-md-5 col-lg-5">
        <div class="jumbotron">
        <div id="singInForm" class="container2">
            <h2 class="form-signin-heading">Cambiar contraseña</h2>
            <font color="red" id="error"></font>
            <div id="pass" class="form-group input-group">
            <span class="input-group-addon">Old Password</span>
        	<input type="password" name="ps" class="form-control" id="ps" onkeypress="checkEnter2(event)" placeholder="Old Password" required="">
        	</div>
            <br/>
            <div id="new_pass" class="form-group input-group">
            <span class="input-group-addon">New Password</span>
        	<input type="password" name="new_ps" class="form-control" id="new_ps" onkeypress="checkEnter2(event)" placeholder="New Password" required="">
        	</div>
            <div id="re_pass" class="form-group input-group">
            <span class="input-group-addon">Re- Password</span>
        	<input type="password" name="re_ps" class="form-control" id="re_ps" onkeypress="checkEnter2(event)" placeholder="Re-New Password" required="">
        	</div>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" onclick="changePs()">Cambiar Contreña</button>
        </div>
        </div>
              
      </div>
      </div>
      
      
      
      
        
 