<div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h1>Futbol Argentino <small>Eventos</small></h1>
          </div>
        </div><!-- /.row -->
	<div class="row"><br/></div>
    <div class="row">
		<div class="col-lg-2"></div>
          <div class="col-lg-8">
            <!-- Nav tabs -->
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-tabs">
			  		<li class="active"><a href="#home" data-toggle="tab">Fecha 1</a></li>
			  		<li><a href="#profile" data-toggle="tab">Fecha 2</a></li>
			  		<li><a href="#messages" data-toggle="tab">Fecha 3</a></li>
			  		<li><a href="#settings" data-toggle="tab">Fecha 4</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane active" id="home">
			  	  <div class="list-group">
                  <a href="#" class="list-group-item">
                    <div class="row">
                    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/17.png"/>
                    	River Plate vs  San Lorenzo
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/19.png"/>
                    	</div>
                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">02-03-2014 18:15
							<font color="red">
                    			<i onclick="alert('link')" title="Retirar Apuesta" class="fa fa-times fa-lg pull-right"></i>
                    		</font>                    			
                    		<font color="blue">
                    			<i onclick="alert('link')" title="Modificar Apuesta" class="fa fa-pencil fa-lg pull-right"></i>
                    		</font>
                    		</div>	
                    </div>
                  </a>
                  <a href="#" class="list-group-item">
                    <div class="row">
                    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/7.png"/>
                    	Estudiantes  vs  Newell´s
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/13.png"/>
                    	</div>
                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">02-03-2014 21:30
                    		<font color="blue">
                    			<i onclick="alert('link')" title="Apostar" class="fa fa-usd fa-lg pull-right"></i>
                    			<i onclick="alert('link')" title="Desafiar un amigo" class="fa fa-trophy fa-lg pull-right"></i>
                    			<i onclick="alert('link')" title="Compartir" class="fa fa-envelope-o fa-lg pull-right"></i>
                    		</font>
                    		</div>	
                    </div>
                  </a>
                  <a href="#" class="list-group-item">
                    <div class="row">
                    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/20.png"/>
                    	Velez Sarfield  vs  Boca Juniors
                    	<img src="http://www.ole.com.ar/static/OLEOle/images/escudos/escudos_g/png/5.png"/>
                    	</div>
                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">01-03-2014 18:00 
                    		<font color="blue">
                    			<i onclick="alert('link')" title="Apostar" class="fa fa-usd fa-lg pull-right"></i>
                    			<i onclick="alert('link')" title="Desafiar un amigo" class="fa fa-trophy fa-lg pull-right"></i>
                    			<i onclick="alert('link')" title="Compartir" class="fa fa-envelope-o fa-lg pull-right"></i>
                    		</font>
                    	</div>	
                    </div>
                  </a>
                </div>
                </div>
				  <div class="tab-pane" id="profile">No hay eventos cargados aun</div>
			  	  <div class="tab-pane" id="messages">No hay eventos cargados aun</div>
  			      <div class="tab-pane" id="settings">No hay eventos cargados aun</div>
				</div>	
         	</div>
		</div>
		</div>
      </div><!-- /.row -->

      </div>