<li class="message-preview">
  <a onclick="loadMsg('<%=this.id%>')" href="#">
    <span class="avatar"><img src="http://placehold.it/50x50"></span>
    <span class="name"><strong><%=this.from%>:</strong> </span>
    <span class="message"><%=this.subject%></this.subject></span>
    <span class="time"><i class="fa fa-clock-o"></i><%=this.date%></span>
  </a>
</li>
<li class="divider"></li>