<nav class=" navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="index.html">ACN Games</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right navbar-user">
		            <li class="dropdown user-dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="credit" class="badge"><%= Number(this.silver)+Number(this.gold)%> Cr.</span> <b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li><a href="#"><i class="fa fa-usd"></i> Saldo Credito</a></li>
		                <li class="divider"></li>
		                <li><a href="#"><i class="fa fa-gift"></i> Premios</a></li>
		              </ul>
		            </li>
            
            <li id="mensajes" class="dropdown messages-dropdown"></li>
            <li id="alertas" class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alertas <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!--<li><a href="#">Gano <span class="label label-default">Su apuesta a 12 a침os de Esclavitud</span></a></li>-->
                <li><a href="#"><span class="label label-primary">Desafio</span> Jose lo ha Desafiado</a></li>
                <li><a href="#"><span class="label label-success">Gano</span> Su apuesta a 12 a침os de Esclavitud</a></li>
                <li><a href="#"><span class="label label-info">Desafio Ganado</span> Le ha ganado el dasfio a Pedro por 10 Cr.</a></li>
                <li><a href="#"><span class="label label-warning">Donaciones</span> Se han acreditado 3 Cr.</a></li>
                <li><a href="#"><span class="label label-danger">ACNGames</span> Su cuenta ha sido activada</a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li><a href="#" i class="fa fa-heart"></i> Donaciones</a></li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=this.name%> <%=this.surname%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Cuenta</a></li>
                <li><a href="#"><i class="fa fa-money"></i> Mis Apuestas</a></li>
                <li><a href="#" onclick="changePass()"><i class="fa fa-gear"></i> Contrase침a</a></li>
                <li class="divider"></li>
                <li><a href="#" onclick="signOut()"><i class="fa fa-power-off"></i> Cerrar Sesions</a></li>
              </ul>
            </li>
            
          </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<div id="pagina_central"> 
		
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="fill" src="img/slide1.jpg"/>
                <div class="carousel-caption">
                    <h1>Premios OSCARS 2014</h1>
                </div>
            </div>
            <div class="item">
                <img class="fill" src="img/slide2.jpg"/>
                <div class="carousel-caption">
                    <h1>Futbol Internacional</h1>
                </div>
            </div>
            <div class="item">
                <img class="fill" src="img/slide3.jpg"/>
                <div class="carousel-caption">
                    <h1>Copa del Mundo BRASIL 2014</a>
                    </h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

    <div class="section">

        <div class="container">

            <div class="row" id="next3Events">
           	</div>
            <!-- /.row -->
		<div class="text-right"><a>Haz click aqui para ver m치s eventos <i class="fa fa-arrow-right"></i></a></div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    	<h2>ACN Games - Ultimos Resultados</h2>
    	<hr>
    </div>
	
			
	<div id="myCarousel2" class="carousel slide" data-ride="carousel">

    </div>
			
	
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <h2>Categorias Disponibles</h2>
                    <hr>
                </div>
                <div id="categories">
                
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
	</div>
    
    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
   
   