 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" onclick="load()" href="#">ACN Games</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-pencil"></i> Registrarse</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i> Contactenos</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 	<br /><br /><br /><br />
 <div class="container">

      <div class="col-lg-4"> </div>
      <div class="col-lg-4" id="singInForm">
        <h2 class="form-signin-heading">Please sign in</h2>
        <font color="red" id="error"></font>
        <div class="form-group input-group">
            <span class="input-group-addon">Enterprise</span>
        	<input type="email" name="email" onkeypress="checkEnter(event)" class="form-control" id="email" placeholder="Enterprise ID" required="" autofocus="">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">     Password</span>
        	<input type="password" name="ps" onkeypress="checkEnter(event)" class="form-control" id="ps" placeholder="Password" required="">
        </div>
        
        <a href="#">¿Olvidó su contraseña?</a>
        <br/><br/>
        <button class="btn btn-lg btn-primary btn-block" onclick="signIn()">Sign in</button>      
      </div>
      
       
    </div> <!-- /container -->