
<b>1)</b> La utilizaci&oacute;n de <b><i>ACN Games</i></b> implica su aceptaci&oacute;n plena y sin reservas a todas y cada una de las disposiciones incluidas en este apartado, por lo que si usted no est&aacute; de acuerdo con cualquiera de las condiciones aqu&iacute; establecidas, no deber&aacute; usar u/o acceder a esta aplicaci&oacute;n.<br/>
<b>2)</b> ACN Games estar&aacute; disponible a partir del d&iacute;a 21/04/2014 para los empleados de Accenture que pertenezcan al <b>Employee Council.</b><br/>
<b>3)</b> El resto de los empleados de Accenture que deseen jugar en ACN Games <b>no podr&aacute;n canjear los cr&eacute;ditos</b> obtenidos por alguno de los premios que ofrezca el Employee Council.<br/>
<b>4)</b> ACN Games no se responsabiliza por fugas de seguridad producidas por el uso de la contraseña corporativa en nuestra aplicaci&oacute;n.<br/>
<b>5)</b> Para poder registrarse en la aplicaci&oacute;n, se deber&aacute; utilizar un Enterprise ID v&aacute;lido<br/>
<b>6)</b> Todas las predicciones realizadas dentro de ACN Games <b>son ficticias</b>. Los cr&eacute;ditos utilizados y las predicciones acertadas no podr&aacute;n ser canjeados por dinero real.<br/>
<b>7)</b> Todas las predicciones y cancelaciones podr&aacute;n hacerse hasta el horario programado de cierre del evento.<br/>
<b>8)</b> Los desaf&iacute;os aceptados no podr&aacute;n ser cancelados.<br/>
<b>9)</b> ACN Games cuenta con 2 tipos de cr&eacute;ditos: <b>Silver</b> y <b>Golden</b>.<br/>
<ul>
	<li>Cr&eacute;ditos Silver:</li>
 			- Se obtienen al acertar una predicci&oacute;n.<br/>
 			- Jugando a los Juegos Online.<br/>
 			- Sirven para canjear premios.<br/>
 			
 	<li>Cr&eacute;ditos Golden:</li>
 			- Se obtienen como resultado de un desaf&iacute;o ganado,<br/>
			- Una donaci&oacute;n de cr&eacute;dito de un amigo,<br/>
			- Una donaci&oacute;n caritativa por parte del jugador,<br/>
			- La cancelaci&oacute;n de una predicci&oacute;n o el rechazo de un desaf&iacute;o,<br/>
			
</ul>
<b>10)</b> La entrega de los premios solicitados est&aacute;n sujetas a:<br/>
            <ul>
				a.	Disponibilidad de presupuesto por parte del ACN Games.<br/>
				b.	Disponibilidad de stock por parte del Employee Council de Argentina.<br/>
				c.	Los tiempos de entrega est&aacute;n sujetos a los puntos a y b.<br/>
            </ul>

