
<b>1)</b> La utilización de <b><i>ACN Games</i></b> implica su aceptación plena y sin reservas a todas y cada una de las disposiciones incluidas en este apartado, por lo que si usted no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar u/o acceder a esta aplicación.<br/>
<b>2)</b> ACN Games estará disponible a partir del día 21/04/2014 para los empleados de Accenture que pertenezcan al <b>Employee Council.</b><br/>
<b>3)</b> El resto de los empleados de Accenture que deseen jugar en ACN Games <b>no podrán canjear los créditos</b> obtenidos por alguno de los premios que ofrezca el Employee Council Edenor.<br/>
<b>4)</b> ACN Games no se responsabiliza por fugas de seguridad producidas por el uso de la contraseña corporativa en nuestra aplicación.<br/>
<b>5)</b> Para poder registrarse en la aplicación, se deberá utilizar un Enterprise ID válido<br/>
<b>6)</b> Todas las predicciones realizadas dentro de ACN Games <b>son ficticias</b>. Los créditos utilizados y las predicciones acertadas no podrán ser canjeados por dinero real.<br/>
<b>7)</b> Todas las predicciones y cancelaciones podrán hacerse hasta el horario programado de cierre del evento.<br/>
<b>8)</b> Los desafíos aceptados no podrán ser cancelados.<br/>
<b>9)</b> ACN Games cuenta con 2 tipos de créditos: <b>Silver</b> y <b>Golden</b>.<br/>
<ul>
	<li>Créditos Silver:</li>
 			- Se obtienen al acertar una predicción.<br/>
 			- Jugando a los Juegos Online.<br/>
 			- Sirven para canjear premios.<br/>
 			
 	<li>Créditos Golden:</li>
 			- Se obtienen como resultado de un desafío ganado,<br/>
			- Una donación de crédito de un amigo,<br/>
			- Una donación caritativa por parte del jugador,<br/>
			- La cancelación de una predicción o el rechazo de un desafío,<br/>
			
</ul>
<b>10)</b> La entrega de los premios solicitados están sujetas a:<br/>
            <ul>
				a.	Disponibilidad de presupuesto por parte del ACN Games.<br/>
				b.	Disponibilidad de stock por parte del Employee Council de Argentina.<br/>
				c.	Los tiempos de entrega están sujetos a los puntos a y b.<br/>
            </ul>

